.DraftEditor-root {
    border: 1px solid darkgreen;
    padding: 20px;
    border-radius: 3px;
}

.rdw-image-modal {
    left: -215px;
}

.rdw-emoji-modal {
    left: -169px;
}

.rdw-embedded-modal {
    left: -124px;
}

.rdw-embedded-modal-btn-section {
    color: darkgreen;
}